html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 40px;
    grid-template-areas: "cab"
                         "corpo";
    background-color: white;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

header {
    grid-area: cab;
    margin: 0;
    padding: 0;
    height: min-content;
    grid-gap: 0;
}

figure {
    margin: 0;
    padding: 0;
    height: min-content;
    grid-gap: 0;
    width:100%;
    background: #490E62;
}

main {
    padding: 20px;
}

.loginCadastro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". meio .";
    font-size: 20px;
}

.contem {
    grid-area: meio;
}

.input {
    align-self: end;
    justify-self: center;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;

}

.text {
    align-self: center;
    justify-content: center;
}

.save {
    grid-column: 1 / 3;
    align-self: center;
    width: 100%;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(89, 62, 116);
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #490E62;
    width: 100%;
}

li {
    float: left;
}

div a {
    color: #957DAD;
    text-decoration: none;
    font-weight: bold ;
}

div a:hover {
    text-decoration: underline;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.search {
    float: right;
    padding: 5px;
}

.busca {
    border: 1px solid #222;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    width: 80%;
}

.botaoBusca {
    position: absolute;
    height: 30px;
}

.selectOrdenacao {
    padding-bottom: 20px;
}

.selectOrd {
    -webkit-appearance: none;
    -moz-appearance: none;
    /*background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;*/
    background-position: 218px center;
    width: 250px;
    height: 30px;
}

.selectOrd select {
    display: none;
}

/* O perfil do usuario vem aqui */

.gridPerfilUsuario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "perfil campanhas";
}

.perfilUsuario {
    padding-right: 50px;
    grid-area: perfil;
}

.campanhasUsuario {
    grid-area: campanhas;
}

.campanhaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "infos comentarios"
}

.infoCampanha {
    grid-area: infos;
    padding: 20px;
}

.campanhaComentarios {
    grid-area: comentarios;
    padding: 20px;
}

.campanhaComentarios p {
    padding-left: 20px;
}

.alteraCampanhaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". mid .";
}

.informacoes {
    grid-area: mid;
}

.campanhasHome p {
    padding-left: 20px;
}

.campanhasUsuario p {
    padding-left: 20px;
}

.select {
    height: 30px;
}
